.classpath
.project
.settings/
target/
dependency-reduced-pom.xml
*.jar
*.swp
*.swn
*.swo
pom.xml.versionsBackup

#Docker image
*.tar
#Singularity image
*.img

#Binaries
TOOLS
TOOLS_INSTALLED

#COMPSs scripts to launch jobs
scripts

*txt.gz

#Results
*tiff
*pdf

little_example

*json

#Singularity
singularity/apt-transport-https
singularity/ca-certificates
singularity/curl
singularity/gnupg-agent
singularity/software-properties-common
singularity/singularity/guidance.def
