.classpath
.project
.settings/
target/
dependency-reduced-pom.xml
*.jar
*.swp
*.swn
*.swo
pom.xml.versionsBackup

#Docker image
*.tar
#Singularity image
*.img

#Binaries
TOOLS
TOOLS_INSTALLED

#COMPSs scripts to launch jobs
scripts

*txt.gz

#Results
*tiff
*pdf
